.item3 {
  width: 100%;
  height: 610px;
  padding-top: 190px;
  padding-bottom: 50%;
}
.item3 .swiper2 {
  width: 90%;
  --swiper-theme-color: #FFFFFF;
  --swiper-navigation-color: #e9f1ea;
  --swiper-navigation-size: 20px;
  margin: 0 auto;
}
.item3 .swiper2 .swiper-slide {
  width: 1200px;
  height: 415px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.item3 .swiper2 .swiper-slide .item {
  width: 16%;
  text-align: center;
}
.item3 .swiper2 .swiper-slide .item img {
  width: 189px;
  height: 95px;
  box-shadow: 0px 0px 20px 5px #999;
}
.item3 .swiper2 .swiper-slide .item p {
  text-align: center;
  line-height: 95px;
  display: none;
}
.item3 .swiper2 .swiper-slide .item:hover {
  background: linear-gradient(135deg, #1f9ee3, #6fc);
}
.item3 .swiper2 .swiper-slide .item:hover img:hober {
  display: none;
}
.item3 .swiper2 .swiper-slide .item:hover p {
  display: block;
}
